<div class="contacto">
    <form  action="/form-contacto" method="post" onsubmit="return submitUserForm();">
    <div id="campos">
      <label for="email">Correo electronico:</label><br>
      <input type="email" name="email" id="email" required /><br>

      <label for="nombre">Nombre:</label><br>
      <input type="text" name="name" id="name" required /><br>

      <label for="mensaje">comentario:</label><br>
      <textarea
        required
        name="mensaje"
        id="mensaje"
        cols="51"
        rows="4"
      ></textarea><br>

      <div class="g-recaptcha" data-sitekey="6Leu4-0pAAAAAIxn6_OsRYzzgts9kSVNVbTGVkw2" data-callback="verifyCaptcha"></div>
      <div id="g-recaptcha-error"></div>

      <input type="submit" value="enviar"/>
    </div>
    </form>    
</div>
    
<script src='https://www.google.com/recaptcha/api.js'></script>
    
<script>
var recaptcha_response = '';
function submitUserForm() {
    if(recaptcha_response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}

function verifyCaptcha(token) {
    recaptcha_response = token;
    document.getElementById('g-recaptcha-error').innerHTML = '';
}
</script>

  <script>
    document.getElementById('submit-btn').addEventListener('click', async () => {
      const form = document.getElementById('contacto-form');
      const formData = new FormData(form);
    
      const response = await fetch('/form-contacto', {
        method: 'POST',
        body: formData,
      });
    
      if (response.ok) {
        console.log('Formulario enviado con éxito');
      } else {
        console.error('Error al enviar el formulario');
      }
    });
    </script>