<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="cont">
      <div class="header">
        <div id="imagen">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="">
        </div>
        <h1>Dehinert Moran</h1>
        <h3>Estudiante de Ingeniería en Informatica </h3>
      </div>

      <div class="main">
        <h2 class="titles">Información personal</h2>
        <div class="inf-">
          <p><strong>Nombres:</strong> Dehinert Jhoscar</p>
          <p><strong>Apellidos:</strong>Moran Nava</p>
          <p><strong>Edad:</strong>18</p>
          <p><strong>Nacional:</strong>Venezolano</p>
          <p><strong>Telefono:</strong> 0412-4204907</p>
          <p><strong>Dirección:</strong>calle 8-5 Ciudad Jardin cagua estado Aragua venezuela</p>
        </div>
        
        <h2 class="titles">Formación académica</h2>
        <div class="inf-">
          <p>
            <h3>Primaria</h3>
            <ul>
              <li>U.E.N.B "Ciudad Jardin".</li>
            </ul>
            <h3>Bachillerate</h3>
            <ul>
              <li>U.E.P "Liceo San Jose De Cagua".</li>
            </ul>
            <h3>Aun en curso Ingeniería en Informatica</h3>
            <ul>
              <li>Universidad Nacional Experimental Romulo Gallegos.</li>
            </ul>
          </p> 
        </div>

        <h2 class="titles">Experiencia laboral</h2>
        <div class="inf-">
          <ul>
            <li>Desarollador de sitios web para aerolinias internacionales usando  node.js, Html y css.</li>
            <li>Desarollador de videojuegos para empresas com EA, nintendo y microsoft.</li>
            <li>Colaboré con equipos multifuncionales para ofrecer productos de software de alta calidad.</li>
          </ul>
          <h3>nintendo</h3>
          <p><strong>Posicion:</strong> Desarrollador de videojuegos</p>
          <p><strong>Duracion:</strong> 2015-2023</p>
        </div>

        <h2 class="titles">Redes socicales</h2>
        <div class="inf-">        
          
        </div>  

        <h2 class="titles">Habilidades y Destrezas</h2>
        <div class="inf-">
          <p>
           Buen manejo de algoritmos informaticos, buena Destreza a la hora de 
           trabajar bases de datos y la parte de programacion Web. Puedo ser rapido y eficiente
           a la hora de trabajar bajo presión.
          </p>
          <p><strong>Conocimientos</strong></p>
          <ul>
            <li>C++</li>
            <li>JavaScript</li>
            <li>HTML/CSs</li>
            <li>MYSQL</li>
            <li>Node.js</li>
            <li>Python</li>
          </ul>
        </div>

      </div>
    </div> 

  </body>
</html>
