<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="cont">
      <div class="header">
        <div id="imagen">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="">
        </div>
        <h1>Dehinert Moran</h1>
        <h3>Full-Stack Web Developer</h3>
      </div>

      <div class="main">
        <div class="left">
          <h2 class="titles">Informacion personal</h2>
          <p><strong>Nombres:</strong> Dehinert Jhoscar</p>
          <p><strong>Apellidos:</strong>Moran Nava</p>
          <p><strong>Edad:</strong>18</p>
          <p><strong>Telefono:</strong> 000 000 0000</p>

          <h2 class="titles">Education</h2>
          <h3>B.Sc in Computer Science</h3>
          <p>University of XYZ, 2014-2018</p> <br>
          <h3>M.Sc in Computer Science</h3>
          <p>University of XYZ, 2019-2020</p>
        </div>

        <h2 class="titles">Skills</h2>
          <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node.js</li>
            <li>SQL</li>
          </ul>
        
        <div class="right">
          <h2>Work Experience</h2>
          <h3>XYZ Company</h3>
          <p><strong>Position:</strong> Software Developer</p>
          <p><strong>Duration:</strong> 2018-2022</p>
          <ul>
            <li>Developed and maintained web applications using React, Node.js, and SQL</li>
            <li>Implemented responsive design using CSS flexbox and media queries</li>
            <li>Collaborated with cross-functional teams to deliver high-quality software products</li>
          </ul> <br>
          <h3>ABC Company</h3>
          <p><strong>Position:</strong> Web Developer</p>
          <p><strong>Duration:</strong> 2016-2018</p>
          <ul>
            <li>Created and maintained websites using HTML, CSS, and JavaScript</li>
            <li>Optimized website performance and user experience using best practices</li>
            <li>Worked with clients to understand their needs and deliver custom solutions</li>
          </ul>
        </div>
      </div>
    </div> 

  </body>
</html>
