<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="cont">
      <div class="header">
        <div id="imagen">
            <img src="https://i.pinimg.com/736x/c1/3e/8d/c13e8dd777b9284b08095338181d3fda.jpg" alt="">
        </div>
        <h1>Dehinert Moran</h1>
        <h3>Estudiante de Ingeniería en Informática </h3>
      </div>

      <div class="main">
        <h2 class="titles">Información personal</h2>
        <div class="inf-">
          <p><strong>Nombres:</strong> Dehinert Jhoscar</p>
          <p><strong>Apellidos:</strong>Moran Nava</p>
          <p><strong>C.I:</strong>31.749.220</p>
          <p><strong>Edad:</strong>18</p>
          <p><strong>Nacional:</strong>Venezolano</p>
          <p><strong>Telefono:</strong> 0412-4204907</p>
          <p><strong>Dirección:</strong>Calle 8-5 Ciudad Jardin Cagua Estado Aragua Venezuela</p>
        </div>
        
        <h2 class="titles">Formación académica</h2>
        <div class="inf-">
          <p>
            <h3>Primaria</h3>
            <ul>
              <li>U.E.N.B "Ciudad Jardin".</li>
            </ul>
            <h3>Bachillerato</h3>
            <ul>
              <li>U.E.P "Liceo San José De Cagua".</li>
            </ul>
            <h3>Aún en curso Ingeniería en Informática</h3>
            <ul>
              <li>Universidad Nacional Experimental Rómulo Gallegos.</li>
            </ul>
          </p> 
        </div>

        <h2 class="titles">Experiencia laboral</h2>
        <div class="inf-">
          <ul>
            <li>Desarollador de sitios web para Aerolíneas internacionales usando  node.js, Html y css.</li>
            <li>Desarollador de videojuegos para empresas com EA, nintendo y microsoft.</li>
            <li>Colaboré con equipos multifuncionales para ofrecer productos de software de alta calidad.</li>
          </ul>
          <h3>nintendo</h3>
          <p><strong>Posicion:</strong> Desarrollador de videojuegos</p>
          <p><strong>Duracion:</strong> 2015-2023</p>
        </div>

        <h2 class="titles">Redes socicales</h2>
        <div class="inf-">     
          <ul>
            <li>
              <a href="https://discord.com/invite/GybmyQ8q"><img class="redes" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png" alt=""></a>   
            </li>
            <li>
              <a href="https://github.com/Dehinert"><img class="redes" src="https://seeklogo.com/images/G/github-logo-7880D80B8D-seeklogo.com.png" alt=""></a>
            </li>
            <li>
              <img class="redes" src="https://w7.pngwing.com/pngs/636/338/png-transparent-telegram-hd-logo-thumbnail.png" alt=""> Dehinert
            </li>
            <li>
              <img class="redes" src="https://c0.klipartz.com/pngpicture/928/935/gratis-png-marca-de-texto-triangular-correo-electronico-de-comunicacion-logotipo-de-gmail-thumbnail.png" alt=""> dehinertmoransjc@gmail.com
            </li>
          </ul>
        </div>  

        <h2 class="titles">Habilidades y Destrezas</h2>
        <div class="inf-">
          <p>
           Buen manejo de algoritmos informáticos, buena destreza a la hora de 
           trabajar bases de datos y la parte de programación Web. Puedo ser rápido y eficiente
           a la hora de trabajar bajo presión.
          </p>
          <p><strong>Conocimientos</strong></p>
          <ul>
            <li><img class="redes" src="https://upload.wikimedia.org/wikipedia/commons/3/32/C%2B%2B_logo.png" alt=""></li>
            <li><img  class="redes" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt=""></li>
            <li><img class="redes" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx7zQzheKgsaUJVceUY7qh1BQ8ALn-LwHM9_91-Mbvsg&s" alt=""></li>
            <li><img class="redes" src="https://cdn-icons-png.flaticon.com/512/919/919826.png" alt=""></li>
            <li><img class="redes" src="https://w7.pngwing.com/pngs/384/848/png-transparent-mysql-php-database-javascript-ajax-carnifex-blue-text-logo.png" alt=""></li>
            <li><img  class="redes" src="https://w7.pngwing.com/pngs/452/24/png-transparent-js-logo-node-logos-and-brands-icon.png" alt=""></li>
            <li><img class="redes" src="https://w1.pngwing.com/pngs/835/530/png-transparent-python-logo-programming-language-computer-programming-python-programming-basics-for-absolute-beginners-scripting-language-source-code-php-code-climate-inc-thumbnail.png" alt=""></li>
          </ul>
        </div>


        <h2 class="titles">Formulario de contacto</h2>
        
        <div class="inf-">
          <%- include('./components/contacto.ejs') %>  
        </div>


      </div>
    </div> 

  </body>
</html>
